.body
{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title
{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(72, 139, 254);
    font-weight: bold;
    box-shadow: 0px -5px 3px rgb(255, 165, 165) inset;
    margin-bottom: 60px;
}

.detail-container
{
    height: 350px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-area
{
    height: 50px;
    padding: 5px;
    color: rgb(71, 71, 71);
    outline: none;
}

.button
{
    height: 50px;
    width: 130px;
    color: white;
    background-color: rgb(57, 136, 209);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.button:hover
{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 100ms;
}

.shorturl-container
{
    margin-top: -200px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.shorturl-alert
{
    color: red;
    font-weight: 700;
    font-size: 30px;
}

.url-container
{
    display: flex;

}

.shorturl
{
    color: blue;
}